
{% if list.getPager.haveToPaginate %}
{{ list.control|raw }}
{% endif %}
<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click', '.pagination a, .sortable a', function(event) {
            $('#canvasloader-container').fadeIn();
            event.preventDefault();
            $.ajax({
                url: $(this).attr('href'),
                context: document.body,
                type: "GET",
                success: function(data) {
                $('#canvasloader-container').fadeOut();
                $("#{{list.id}}").html(data);
                },
                error: function(data) {
                    $('#canvasloader-container').fadeOut();
                    alert("Il semble s'êre produit une erreur");
                }
            });

            return false;
        });

        $('thead th.sortable').each(function(){
            title = $(this).html();
            link = '<a href="?orderby='+$(this).attr('id')+'&way={{list.getWay}}'+'">'+title+'</a>';
            $(this).html(link);
        });
    });
</script>
<div id="canvasloader-container" style="display: none;"><img src="/bundles/avlist/images/ajax-loader.gif" title="Chargement en cours" alt="Chargement" width="32" height="32"></div>
